* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #fac9e1;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 100%;
    height: auto;
}

aside {
    width: 200px;
    background-color: #bdb8bb;
    color: rgb(248, 195, 212);
    padding: 20px;
    float: left;
    height: calc(100vh - 240px);
}

aside nav ul {
    list-style-type: none;
}

aside nav ul li {
    margin-bottom: 10px;
}

aside nav ul li a {
    color: rgb(20, 19, 20);
    text-decoration: none;
}

section {
    margin-left: 220px;
    padding: 20px;
    background-color: #b5b7bd;
    min-height: calc(100vh - 240px);
}

footer {
    clear: both;
    background-color: #f7c2d7;
    color: rgb(99, 96, 97);
    text-align: center;
    padding: 10px;
}

footer a {
    color: #585657;
    text-decoration: none;
}
